.documents-container {
    padding: 20px;
}


.files-container {
    margin: 20px 0;
}

.file-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    border-bottom: 1px solid rgb(194, 194, 194);
    margin-bottom: 10px;
}

.file-container p{
    margin: 0;
}

.file-container a{
    text-decoration: none;
    color: white;
    background-color: rgb(0, 0, 0);
    padding: 5px 15px;
    transition: background-color 0.3s ease;
    &:hover {
        background-color: rgb(255, 0, 0);
    }
}

.upload-files-button {
    margin-top: 20px;
    border: none;
    outline: none;
    width: 220px;
    background-color: rgb(0, 0, 0);
    color: white;
    padding: 10px;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
    
    &:hover {
        background-color: #ff2020;
    }
}

.server-message-block {
    margin-top: 10px;
    background-color: #ff75759c;
    border: 1px solid red;
    font-weight: 600;
    color: rgb(0, 0, 0);
    padding: 10px;
}

@media screen and (max-width: 900px) {
    .upload-files-button {
        width: 100%;
    }
}